nextflow.config
*\.sif
**/outputs*
fastq
**/*.out
*\.Rhistory
**/project_ex??
**/project_ex?
!project_ex/*
**/project_ex/outputs*
!project_ex_out/*
**/project_ex/work/*
**/project_ex/.nextflow/*
**/project_ex/.nextflow.log.*
project_1/
