/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    GLOBAL DEFAULT PARAMS, USED IN CONFIGS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
params {
    help    = false
    version = false
    monochrome_logs = false
}


process {
    // container = 'library://cxtaslim/pipelines/rna-seqezpz:latest'
    container = 'file://./rnaseq-pipe-container.sif'
    time = '5hours'
    queue = 'general'
    memory = ''
    cpus = 1
    email = ''
    

    withName: TRIM_FASTQC {
        cpus = 4
    }

    withLabel: short_time {
        time = '30min'
    }
    
    withLabel: hi_cpus {
        cpus = 15
    }

    withLabel: hi_mem {
        queue = 'himem'
        memory = '50g'
    }

    withLabel: star {
        queue = 'himem'
        cpus = 48
    }

    withLabel: hi_mem_cpus {
        queue = 'himem'
        cpus = 20 
    }
}

singularity.enabled = true
singularity.autoMounts = true

/*
singularity.runOptions = "--bind /gpfs0/home2/gdtheisenlab/cxt050/RNA-SeqEZPZ-NF/scripts:/scripts,/gpfs0/home2/gdtheisenlab/cxt050/RNA-SeqEZPZ-NF/project_ex:/mnt,/gpfs0/home2/gdtheisenlab/cxt050/RNA-SeqEZPZ-NF/ref:/ref,/gpfs0:/gpfs0"
*/

process.executor = 'slurm'
dag.overwrite = true
report.overwrite = true
