# nextflow process executor
executor=slurm
# command to load nextflow. If no module needed, remove the "module load nextflow/22.10.6.5843"
load_nextflow=module load Nextflow/24.10.2
# name of partition with at least very_high_mem specified below
high_mem_partition=general
# name of  partition for general use
general_partition=general
# memory in GB for jobs that require high memory like STAR
high_mem=128
# memory in GB for jobs that require medium memory like feature counts
med_mem=32
# memory in GB for jobs that require very high memory like DESeq2 and SARTools
very_high_mem=150
# any additional sbatch options needed to run i.e. in OSC this is your -A <project-num>
addtl_opt=""
